.yas-container
  pad 2rem

.yas-video
  w 30rem
  bdrz 4px

  &-top
    pad 1rem
    bg #1d2531
    cc #eee

  &-middle
    pad 1rem
    h 16rem
    bg #222c3c
    cc #eee

  &-bottom
    pad 1rem
    bg #1d2531
    cc #eee

  &-body
    mar 0
    h 100%
    cc #eee
    